html {
    font-size: 14pt;
    background: #02254c;
    color: #e7cf84;
    line-height: 1.4rem;
}

h1, h2, h3 {
    color: #ff7f24;
}
a {
    color: lightskyblue;
}
a:visited {
    color: gray; 
}

a:hover, a:active {
    background:  #556b2f;
    color: white;
}

body {
    font-family: sans-serif;
    
}

#page-container { margin-bottom: 3rem; }

#index, #header {
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: inline;
}

ol {
    padding: 0;
}
#index-list {
    list-style-type: none;

}
.e-content ol {
    list-style-position: inside;
}



.dateline {
    font-size: 0.9rem;
    color: cyan;
    float: left;
    margin-left: -8rem;
    margin-top: 0.24rem;
    vertical-align: top;
    
}

.SHORT-POST #content {
    border: 0.5px solid orange;
}

.SHORT-POST .p-title { display: none; }
.SHORT-POST #content {
    font-size: 0.7rem;
    padding-top: 1px;
    padding: 0.5rem;
   margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.SHORT-POST img {
    border-radius: 8px;
    margin: 0;

}



.post-attribution  {
    font-size: .7rem;
    display: inline;
    color: grey;
    
}

.SHORT-POST .post-attribution {
    font-size: .5rem;
}

a > img{ display: block; border: 2px solid white; border-radius: 8px; filter:brightness(95%);}
a > img:hover { filter: brightness(100%); }

/* FIXME - we need to know the type of article on the li element */
li.post + li.short-post { margin-top: 4rem; }
li.short-post + li.post { margin-top: 4rem; }


.tag-attribution { display: none }


#paginator .menu { margin-top: -7rem; margin-bottom:3rem; float: left; }
#paginator .menu li { display: block;}

@media screen and (max-width: 1100px) {
    .dateline {display: none; }
    #paginator .menu { margin: unset; float: unset; }
    #paginator .menu li { display: inline ; padding: 0.4rem;}
}

[hidden] { display: none; }

@media screen and (max-width: 660px) {
    html {
        font-size: 18pt;
    }
    body {
        line-height: 140%
    }
    h1{ font-size: 1.3rem; }
    /* FIXME there should only be one h1 entry in a page you tool */
    .p-title{ font-size: 1.2rem; }
    h2{ font-size: 1.1rem; }
    h3{ font-size: 1.05rem; }
    #paginator { font-size: 0.8rem; }

}

@media screen and (max-width: 400px) {
    html { font-size: 16pt; }
    body {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        line-height: 120%;
    }

}


