html, body { background-color:gray ;
             font-family: Helvetica, sans-serif;}

#header { width:52em; background-color: white;
          margin-top: -0.4em;
          padding-right:1em;}

h2, h3 { font-size: 110% }
h1 { padding-left: 1.25em;
     padding-bottom: 0; }

.LINK-POST > h1,
.LINK-POST  .post-attribution { display: none; }


#page-content { background-color:white;
                max-width: 52em;
                margin-left:auto;
                margin-right:auto;
                margin-top: -2em;
                padding-top: 1em;
                padding-right: 1em;
                padding-bottom: 1em;
                border: 2px solid black; }

#index-list { margin-left: 1em;
              margin-right: 2em; }

#index-list > li { list-style-type: none;
                   margin-left: -1em; }

li.LINK-POST { font-size: 50%; padding-left: 2em; }

li.POST { padding-top: 1em;
          padding-bottom: 1em; }

.POST > blockquote { background-color: #efeeef;
                     color: gray;
                     font-size:smaller;
                     margin: 0em 2em 0em 2em;
                     padding: 0em 1em 0em 1em; }