<!DOCTYPE html SYSTEM "about:legacy-compat">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
  </head>
  <body>
    <h1 id="page-heading"> Page heading </h1>
    <div id="page-content">
      <ul id="index-list">
        <li> A list of entries </li>
      </ul>
    </div>
    <div id="paginator">
      <ul>
        <li class="paginator-link" id="prev"><a>Prev</a></li>
        <li class="paginator-link" id="next"><a>Next</a></li>
      </ul>
    </div>
  </body>
</html>
