<!DOCTYPE html SYSTEM "about:legacy-compat">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" 
          href="/static/styles/app.css"/>
    <link rel="alternate" type="application/rss+xml" title="feed" href="/blog/index.rss"/>
    <title>Index</title>
    <script src="/mint/?js" type="text/javascript"></script>
  </head>
  <body>
    <div id="page-container" class="row column">
      
        
        <div id="header" class="row">
            <h1 id="page-heading" class="small-12 columns text-center"> Page heading </h1>
        </div>

	
        <div id="index" class="row">

	    <ol id="index-list" class="no-bullet small-12 medium-10 medium-push-1 large-8 large-push-2 columns">
		<li> A list of entries </li>
	    </ol>

        </div>
        <div  class="row">
            <div id="paginator" class="small-10  columns">
		<ul class="menu">
		    <li class="paginator-link" id="next" ><a hidden>Older</a></li>
		    <li class="paginator-link" id="prev" ><a hidden>Newer</a></li>
		    <li id="home" ><a href="./">Home</a></li>
		    <li id="about"><a href="/">About</a></li>
		</ul>
            </div>
        </div>
      
    </div>
  </body>
</html>
