<!DOCTYPE html SYSTEM "about:legacy-compat">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" 
          href="/static/styles/app.css"/>
    <link rel="alternate" type="application/rss+xml" title="feed" href="/blog/index.rss"/>
    <title>Post title</title>
    <script src="/mint/?js" type="text/javascript"></script>
  </head>
  <body class="post">
    <div class="container" >
	
	<div class="header">


              <article class="h-entry">
		  
		      <h2 id="post-heading"  class="p-title">
			  <a href="#" class="permalink small-8 columns u-url">Post title heading</a>
			  <span class="dateline"> Date attrib </span>
		      </h2>
		  
		  
		      <div id="content" class="content e-content">
			  <div>
			    <section class="post-content">
			      <p> A post content would go here </p>
			    </section>
			    <section class="post-attribution">
			      <ul class="post-attribution menu">
				<li class="attribute"> Attribute </li>
			      </ul>
			    </section>
			  </div>
			  <div class="tag-attribution post-attribution">tagged as</div>
		      </div>
              </article>
	
	      <footer>
		  <div class="navigation">
		      <ul class="">
			  <li> A navigation element </li>
                      </ul>
		  </div>
              </footer>

	</div>

	<div class="footer">
            <div class="row column">
		<div class="small-12 columns">
		    <div class="row"> This is beatworm.co.uk </div>
		    <div class="row"> A blog by <a id="author-attribution" href="/">cms</a></div>
		    <div class="row"> <a href="/blog/"> Front page </a></div>
                    <div class="row"> <a href="/blog/feed/"> RSS </a></div>
		</div>
            </div>
	</div>

    </div>
  </body>
</html>
