<!DOCTYPE html SYSTEM "about:legacy-compat">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Post title</title>
  </head>
  <body class="post">
    <h1 id="post-heading"> Post title heading </h1>
    <div id="content">
      <p> A post content would go here </p>
      <div class="post-attribution">
        <ul>
          <li class="attribute"> Attribute </li>
        </ul>
      </div> 
    </div>
    <div class="navigation">
      <ul>
        <li> A navigation element </li>
      </ul>
    </div>
  </body>
</html>
