<!DOCTYPE html SYSTEM "about:legacy-compat">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" 
          href="/static/styles/app.css"/>
    <title>Post title</title>
  </head>
  <body class="post">
    <div class="container" >
      <div class="left-bar small-3 columns">
        <div class="row">
          <div class="small-12 columns">
            <div class="row"> This is beatworm.co.uk </div>
            <div class="row"> A blog by <a href="http://beatworm.co.uk/">cms</a></div>
            <div class="row"> <a href="/blog/"> Front page </a></div>
          </div>
        </div>
      </div>
      <div class="right-side small-9 columns">
        
        <div class="row">
          <div class="small-8  columns">
            <article>
              <h1 id="post-heading">
                <a href="#" class="permalink">Post title heading</a>
                <span class="dateline"> Date attrib </span>
              </h1> 
              <div id="content" >
                <section class="post-content">
                  <p> A post content would go here </p>
                </section>
                <section class="post-attribution">
                  <ul class="post-attribution menu">
                    <li class="attribute"> Attribute </li>
                  </ul>
                </section>
            </article>
            <footer>
              <div class="navigation">
                <ul class="menu">
                  <li> A navigation element </li>
                </ul>
              </div>
            </footer>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
